name: matrix-build
on: push

jobs:
  name: Unit Test
  strategy:
    matrix:
      os: [ubuntu-latest, windows-latest, macos-latest]
      node: [10, 12]
  runs-on: ${{ matrix.os }}
  steps:
    - name: Checkout
      uses: actions/checkout@v2.0.0
    - name: Set Node.js ${{ matrix.node }}
      uses: actions/setup-node@v1.3.0
      with:
        node-version: ${{ matrix.node }}
    - name: Install dependencies
      run: npm ci
    - name: Test
      run: npm test
